#GENERAL CONFIG 
APP_NAME=""
APP_EXPIRE=false
APP_EXPIRE_TIME=2592000
APP_BY_IP=false
APP_NEED_MAC=false

#DATABASE CONFIG
DB_HOST=127.0.0.1
DB_PORT=""
DB_NAME=""
DB_USER=""
DB_PASS=

#MAIL CONFIG
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
