{{define "head"}}
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- LINK -->
    <link rel="icon" type="image/png" href="#" sizes="48x48">
    
    <!-- PERFORMANCE -->
    <link rel="preload" as="style" href="static/homepage/style.css">
    <link rel="stylesheet" href="static/homepage/style.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/homepage/css/nav.css">

    <!-- TITLE -->
    <title>Title</title>
</head>
{{end}}